body, html {
	height: 100%;
	width: 100%;
}

body {
	background-color: #f5f5f5;
}

#top-bar{
	height: 150px;	
	background-color: #275b8a;
	position: relative:
}

.calendar-row{
	height: 10em;
	border-bottom: 1px solid #bfd5db;
}

.calendar-shell{
	width: 14.3%;
	padding: 5px 8px 8px 5px;
	transition: all 0.5s;
}

.calendar-shell:hover{
	box-shadow: 0 0 5px grey inset;
}

.my-border-right{
	border-right: 1px solid #bfd5db;
}

.prev_month{
	background-color : #b9c9c8;
	color : white;
}

.next_month{
	background-color : #b9c9c8;
	color : white;
}

.today h2{
	color : #0088ff;
}

.cell-grid{
	border: 1px solid red;
	display: grid;
	grid-template-columns: 50% 50%;
}

.cell-grid > div{
	border: 1px solid green;
	text-align: center;
}

#controls-container {
	border: 2px solid green;
	height: 100%;
	position: relative;
	display: flex;
}

#controls-container > .control{
	border: 2px solid red;
	width: 300px;
	position: relative;
	height: 100%;
	flex: 0 0 10em;
}

#main{
	transition: filter 0.5s;
}

#week-rows{
	border-top: 1px solid #bfd5db;
}

#month-calendar{
	width: 100%;
}

#day-tags{
	padding: 0.5em;
	display: flex;
}

#day-tags .day-tag-container{
	text-align: center;
	justify-content: center;
	flex: 1 1 0;
}

#day-side-panel > div{
	position: relative;
	margin: 5px 5px 5px 5px;
	border: 1px solid red;	
}

#day-date-info{
	color: white;
}

#day-date-info > div{
	border: 1px solid orange;
}

#big-month-day {
	font-size: 8em;
	margin-left:150px;
}

#rest-month-info{
	font-size: 4em;
	text-align: left;
	padding-top: 40px;

}

#day-gannt{
	position: relative;
}

#day-gantt > div{
	border-top: 1px solid #5c9bff;
	height: 50px;
	color: #5c9bff;
	position: relative;
	z-index: 1;
}

#day-svg{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left:0;
	z-index:3;
}

#day-side-panel{
	width : 0px;
	height: 100%;
	left: 0;
	position: fixed;
	overflow-y: scroll;
	z-index : 2;
	background-color : #0c2c5e;
	transition: 0.5s;
}

#day-side-panel::-webkit-scrollbar{
	display: none;
}

#big-trans-back-button{
	visibility: hidden;
	position: fixed;
	height: 100%;
	overflow-y: hidden;
	right:0;
	left: 600px;
	z-index: 3;
	top: 0;
}























