body, html {
	height: 100%;
	width: 100%;
}

body {
	background-color: #f5f5f5;
}

#top-bar{
	height: 150px;	
	background-color: #275b8a;
	position: relative:
}

.calendar-row{
	height: 10em;
	border-bottom: 1px solid #bfd5db;
}

.calendar-shell{
	width: 14.3%;
	padding: 5px 8px 8px 5px;
	transition: all 0.5s;
}

.calendar-shell:hover{
	box-shadow: 0 0 5px grey inset;
}

.my-border-right{
	border-right: 1px solid #bfd5db;
}

.prev_month{
	background-color : #b9c9c8;
	color : white;
}

.next_month{
	background-color : #b9c9c8;
	color : white;
}

.today{
	color : #0088ff;
}

.cell-grid{
	border: 1px solid red;
	display: grid;
	grid-template-columns: 50% 50%;
}

.cell-grid > div{
	border: 1px solid green;
	text-align: center;
}

#controls-container {
	border: 2px solid green;
	height: 100%;
	position: relative;
	display: flex;
}

#controls-container > .control{
	border: 2px solid red;
	width: 300px;
	position: relative;
	height: 100%;
	flex: 0 0 10em;
}

#main{
	transition: filter 0.5s;
}

#week-rows{
	border-top: 1px solid #bfd5db;
}

#month-calendar{
	width: 100%;
}

#day-tags{
	padding: 0.5em;
}

#day-tags .day-tag-container{
	text-align: center;
}

#day-side-panel{
	width : 0px;
	height: 100%;
	left: 0;
	position: fixed;
	overflow-y: hidden;
	z-index : 2;
	background-color : red;
	transition: 0.5s;
}

#big-trans-back-button{
	visibility: hidden;
	position: fixed;
	height: 100%;
	overflow-y: hidden;
	right:0;
	left: 600px;
	z-index: 3;
	top: 0;
}























